@model gfi_test_landing.Models.RegisterViewModel

@{


    ViewBag.Title = "Register";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto offset-3">
                <h1>Register </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/MyProjects">Home</a></li>
                    <li class="breadcrumb-item active">Create User</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="alert alert-success alert-dismissible mx-auto d-none" id="created-alert">
                <h5><i class="icon fa fa-check"></i> Created!</h5>
                <p id="created-text"></p>
            </div>
            <!-- left column -->
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-primary col-12">
                <div class="card-header">
                    <h3 class="card-title">Create User</h3>
                    <div class="card-tools">
                    </div>
                </div>

                @using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    <!-- /.card-header -->
                    @*<form id="create-project">*@
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Name</label>
                                    @*<input type="text" class="form-control" id="project-name" placeholder="Enter project Name">*@
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                </div>

                            </div>
                            <div class="col-6">
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Surname</label>
                                    @*<input type="text" class="form-control" id="project-name" placeholder="Enter project Name">*@

                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Surname" })
                                </div>

                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    @*<input type="text" class="form-control" id="project-description" placeholder="Enter project description">*@
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    @*<input type="text" class="form-control" id="project-description" placeholder="Enter project description">*@
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    @*<input type="text" class="form-control" id="project-description" placeholder="Enter project description">*@
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    @*<input type="text" class="form-control" id="project-description" placeholder="Enter project description">*@
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Project</label>
                                    @*<select id="ProjectsDropdown" class="form-control select2"></select>*@
                                    @Html.DropDownListFor(m => m.IdProject, Enumerable.Empty<SelectListItem>(), "Select Project", new { @id = "ProjectDropdown", @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Role</label>
                                    @Html.DropDownListFor(m => m.IdRole, Enumerable.Empty<SelectListItem>(), "Select Role", new { @id = "RoleDropdown", @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-actions form-group">
                                    <input type="submit" class="btn btn-success" value="Create" />
                                </div>
                            </div>
                        </div>
                    </div>
                    @*</form>*@
                }
            </div>

            <div class="col-12">
                @Html.Partial("_UsersList", Model)
              
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        <!-- Modal -->
</section>



<!-- Select2 -->
<script src="~/Content/plugins/select2/select2.full.min.js"></script>

<script>

        //$(document).ready(function () {
        //    $("#idDelete").click(function () {
        //        $('#addModal').modal('hide');
        //        var person = new Object();
        //        UserId = $('#idUserDelete').text();

        //        $.ajax({
        //            type: 'DELETE',
        //            url: 'http://localhost:59443/api/DeleteProject/' + UserId,
        //            contentType: "application/json;charset=utf-8",
        //            dataType: "json",
        //            success: function (data) {
        //                alert("Email: " + data.Email);
        //            },
        //            error: function (xhr, textStatus, errorThrown) {
        //                alert("An error occurred!!");
        //            }
        //        });
        //    })
        //});

</script>

<script type="text/javascript">
    

        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "http://localhost:59443/api/GetProjects",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: {},
                success: function (result) {
                    $.each(result, function (i) {

                        $('#ProjectDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                    });
                },
                failure: function () {
                    alert("Error");
                }
            });

            $.ajax({
                type: "get",
                url: "http://localhost:59443/api/GetRoles",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: {},
                success: function (result) {
                    $.each(result, function (i) {

                        $('#RoleDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                    });
                },
                failure: function () {
                    alert("Error");
                }
            });

        //    startListToUser();

        });

        //function startListToUser() {
        //    $.ajax({
        //        type: "GET",
        //        contentType: "application/json",
        //        dataType: "json",
        //        url: 'http://localhost:59443/api/GetUsers'
        //    })
        //        .done(function (Users) {
        //            console.log(Users);

        //            Users.forEach(function (user) {
        //                setDataTableValues(user.Id, user.FirstName, user.LastName, user.Email);
        //            });

        //        }).always(function () {
        //            //Init DataTable
        //            $("#users-table").DataTable();
        //        });
        //}

        //function setDataTableValues(Id, FirstName, LastName, Email) {


        //    var details = '<a href="http://localhost:54669/Admin/UserDetails?UserId=' + Id +
        //        '" target="_blank"><i class="fa fa-share-square-o" style="font-size:24px; color:green"></i></a>';
        //    var del = '<a data-toggle="modal" data-id="' + Id + '" data-name="' + Email + '" class="tem-trigger-btn" data-toggle="modal" href="#addModal"><i class="fa fa-trash-o" style="font-size:24px; color:red"></i></a>';

        //    var row = '<tr>' +

        //        '<td>' + FirstName + " " + LastName + '</td>' +
        //        '<td>' + Email + '</td>' +
        //        '<td>' + details + "  " + del + '</td>' +
        //        '</tr>';

        //    $('#users-table > tbody').append(row);
        //}

</script>


@*
    <style>

        .card-body .dataTables_wrapper .row .col-md-6 .dataTables_length .form-control {
            display: inline-block;
            width: auto;
        }

        .card-body .dataTables_wrapper .row .col-md-6 .dataTables_filter .form-control {
            display: inline-block;
            width: auto;
        }
    </style>
    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -10px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -2px;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 15px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 13px;
                }

            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #60c7c1;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                min-width: 120px;
                border: none;
                min-height: 40px;
                border-radius: 3px;
                margin: 0 5px;
                outline: none !important;
            }

            .modal-confirm .btn-info {
                background: #c1c1c1;
            }

                .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                    background: #a8a8a8;
                }

            .modal-confirm .btn-danger {
                background: #f15e5e;
            }

                .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                    background: #ee3535;
                }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
*@
@*<script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        })
    </script>*@






