@model gfi_test_landing.AspNetUsers

@{
    ViewBag.Title = "UserDetails";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto offset-3">
                <h1>User Details </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/MyProjects">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Register">Users List</a></li>
                    <li class="breadcrumb-item active">User Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5> @Model.UserName</h5>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">


        <div class="card card-primary col-12">


            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <!-- /.card-header -->
            @*<form id="create-project">*@
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"><img class="img-fluid" src="~/images/admin.jpg" alt="User profile picture" width="150rem"></div>



                    @*<div class="info-box-content">*@
                    <div class="col-md-4">

                        <h5> Name:</h5>
                        <h6>@Model.FirstName @Model.LastName</h6>
                        <h5>Phone Number:</h5>
                        <h6>@Model.PhoneNumber</h6>
                    </div>
                    @*</div>*@
                    @*<div class="info-box-content">*@
                    <div class="col-md-4">

                        <h5> Email:</h5>
                        <h6>@Model.Email</h6>
                        <h5>Email Confirmed:</h5>
                        <h6> @Html.CheckBoxFor(m => m.EmailConfirmed, new { @disabled = true })</h6>

                    </div>
                    <div class="col-12 mt-3">
                        <div class="form-actions form-group">

                            @Html.ActionLink("Update", "UserEdit", new { UserId = Model.Id }, new { @class = "btn btn-success", title = "Update user details" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<div class="col-12">
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects & Roles List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="projectRole-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th hidden></th>
                        <th>Project Name</th>
                        <th>Role</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<!--Edit modal-->
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Project Name</label>
                        <p id="labelProjectName" type="email" class="form-control" required></p>

                    </div>
                    <div class="form-group">
                        <label>Select Role</label>
                        @Html.DropDownList("idRole", Enumerable.Empty<SelectListItem>(), "Select Role", new { @id = "RolesDropdown", @class = "form-control select2" })

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="editRole" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var idProject;
    var id = @Html.Raw(Json.Encode(Model.Id));

    $(document).on("click", "#editRole", function () {
        $('#editEmployeeModal').modal('hide');
        var data = {
            RoleId: $('#RolesDropdown').val(),
            id_project: idProject,
            UserId: id,
        }
        $.ajax({
            url: 'http://localhost:59443/api/setUserRole',
            type: 'POST',
           // dataType: 'json',
            data: data,
            success: function (d) {

                window.location.reload();
             

            },
            error: function () {
                alert("Error please try again");
            }
        });

    })

    $(document).ready(function ( ) {

        getRoleProjectByUser();
        $('[data-toggle="tooltip"]').tooltip();
        $('#editEmployeeModal').addClass('show');

        $.ajax({
            type: "get",
            url: "http://localhost:59443/api/GetRoles",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {

                    var row = $('#RolesDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));



                });
            },
            failure: function () {
                alert("Error");
            }
        });
        $('select option:contains("Select Role")').prop('disabled', true);
    });

    $(document).on("click", ".edit", function () {

        idProject = $(this).parent().closest("tr").find('td:first').text();
        var projectName = $(this).parent().closest("tr").find('td:nth-child(2)').text();
        var roleName = $(this).parent().closest("tr").find('td:nth-child(3)').text();
        $("#labelProjectName").html(projectName);
        $('#RolesDropdown > option').each(function () {
            if ($(this).text() == roleName) {
                $(this).attr('disabled', true);
            }

        });


    })

    function getRoleProjectByUser() {
        var id = @Html.Raw(Json.Encode(Model.Id));
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",

            url: 'http://localhost:59443/api/RoleProjectByUser/' + id
        })
            .done(function (RoleProjectByUser) {
                console.log(RoleProjectByUser);

                RoleProjectByUser.forEach(function (roleproject) {
                    setDataTableValues(roleproject.NameProject, roleproject.NameRole, roleproject.IdProject, roleproject.IdRole, roleproject.IdUser);
                });

            }).always(function () {
                //Init DataTable
                $("#projectRole-table").DataTable();
            });

    }
    function setDataTableValues( NameProject, NameRole, Id) {

        var details = '<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons fa fa-pencil-square-o" style="font-size:24px; color:green" data-toggle="tooltip" title="Edit"></i></a>';
        //var del = '<a data-toggle="modal" data-id="' + Id + '" class="tem-trigger-btn" data-toggle="modal" href="#addModal"><i class="fa fa-trash-o" style="font-size:24px; color:red"></i></a>';


        var row = '<tr>' +
            '<td hidden>' + Id + '</td>' +
            '<td>' + NameProject + '</td>' +
            '<td>' + NameRole + '</td>' +
            '<td>' + details + /*""+ del +*/'</td>' +
            '</tr>';

        $('#projectRole-table > tbody').append(row);
    }</script>





