@model gfi_test_landing.AspNetUsers

@{
    ViewBag.Title = "UserDetails";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 mx-auto offset-3">
                <h1>User Details </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/MyProjects">Home</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Register">Users List</a></li>
                    <li class="breadcrumb-item active">User Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5> @Model.UserName</h5>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">


        <div class="card card-primary col-12">


            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <!-- /.card-header -->
            @*<form id="create-project">*@
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"><img class="img-fluid" src="~/images/admin.jpg" alt="User profile picture" width="150rem"></div>

                    @*<div class="info-box-content">*@
                    <div class="col-md-4">

                        <h5> Name:</h5>
                        <h6>@Model.FirstName @Model.LastName</h6>
                        <h5>Phone Number:</h5>
                        <h6>@Model.PhoneNumber</h6>
                    </div>
                    @*</div>*@
                    @*<div class="info-box-content">*@
                    <div class="col-md-4">

                        <h5> Email:</h5>
                        <h6>@Model.Email</h6>
                        <h5>Email Confirmed:</h5>
                        <h6> @Html.CheckBoxFor(m => m.EmailConfirmed, new { @disabled = true })</h6>

                    </div>
                    <div class="col-12 mt-3">
                        <div class="form-actions form-group">

                            @Html.ActionLink("Update", "UserEdit", new { UserId = Model.Id }, new { @class = "btn btn-success", title = "Update user details" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<div class="col-12">
    <!-- /.card -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Projects & Roles List</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="projectRole-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th hidden></th>
                        <th hidden></th>
                        <th>Project Name</th>
                        <th>Role</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<!--Edit modal-->
<!-- Edit Modal HTML -->
<div id="editRolesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Project Name</label>
                        <p id="labelProjectName" type="email" class="form-control" required></p>

                    </div>
                    <div class="form-group">
                        <label>Select Role</label>
                        @Html.DropDownList("idRole", Enumerable.Empty<SelectListItem>(), "Select Role", new { @id = "RolesDropdown", @class = "form-control select2" })

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="editRole" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!--Delete Modal-->
<div id="addModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <Label id="idUserDelete" hidden></Label>
                <p>Do you really want to delete<Label id="label-delete"></Label> ? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" id="idDelete" class="btn btn-danger" data-toggle="modal" data-target="#myModal1">Delete </button>
            </div>
        </div>
    </div>
</div>
<!--Delete Modal-->


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="~/Content/dist/js/bootstrap-notify.js"></script>

<script>
    var idProject;
    var id = @Html.Raw(Json.Encode(Model.Id));

    $(document).on("click", "#editRole", function () {
        $('#editEmployeeModal').modal('hide');
        var data = {
            RoleId: $('#RolesDropdown').val(),
            id_project: idProject,
            UserId: id,
        }
        $.ajax({
            url: 'http://localhost:59443/api/setUserRole',
            type: 'POST',
           // dataType: 'json',
            data: data,
            success: function (d) {

                window.location.reload();


            },
            error: function () {
                alert("Error please try again");
            }
        });

    })

    $(document).ready(function ( ) {

        getRoleProjectByUser();
        $('[data-toggle="tooltip"]').tooltip();
        $('#editRolesModal').addClass('show');

        $.ajax({
            type: "get",
            url: "http://localhost:59443/api/GetRoles",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {

                    var row = $('#RolesDropdown').append($('<option></option>').val(result[i].Id).html(result[i].Name));

                });
            },
            failure: function () {
                alert("Error");
            }
        });
        $('select option:contains("Select Role")').prop('disabled', true);
    });

    $(document).on("click", ".edit", function () {

        idProject = $(this).parent().closest("tr").find('td:first').text();
        var projectName = $(this).parent().closest("tr").find('td:nth-child(2)').text();
        var roleName = $(this).parent().closest("tr").find('td:nth-child(3)').text();
        $("#labelProjectName").html(projectName);
        $('#RolesDropdown > option').each(function () {
            if ($(this).text() == roleName) {
                $(this).attr('disabled', true);
            }

        });


    })

    function getRoleProjectByUser() {
        var id = @Html.Raw(Json.Encode(Model.Id));
        $.ajax({
            type: "GET",
            contentType: "application/json",
            dataType: "json",

            url: 'http://localhost:59443/api/RoleProjectByUser/' + id
        })
            .done(function (RoleProjectByUser) {
                console.log(RoleProjectByUser);

                RoleProjectByUser.forEach(function (roleproject) {
                    setDataTableValues(roleproject.NameProject, roleproject.NameRole, roleproject.IdProject, roleproject.IdUser, roleproject.IdRole);
                });

            }).always(function () {
                //Init DataTable
                $("#projectRole-table").DataTable();
            });

    }
    function setDataTableValues(NameProject, NameRole, Id, IdUser) {

        var details = '<a href="#editRolesModal" class="edit" data-toggle="modal"><i class="material-icons fa fa-pencil-square-o" style="font-size:24px; color:green" data-toggle="tooltip" title="Edit"></i></a>';
        var del = '<a data-toggle="modal" class="tem-trigger-btn"' +
            ' data-toggle="modal" href="#addModal"><i class="fa fa-trash-o" id="i-con" style="font-size:24px; color:red" title="Delete"></i></a>';


        var row = '<tr>' +
            '<td hidden>' + Id + '</td>' +
            '<td hidden>' + IdUser + '</td>' +
            '<td>' + NameProject + '</td>' +
            '<td>' + NameRole + '</td>' +
            '<td>' + details + " "+ del +'</td>' +
            '</tr>';

        $('#projectRole-table > tbody').append(row);
    }
    //On click on trash icon
    //Delete - ********ver query para roles & users associação***********
    $(document).on("click", ".tem-trigger-btn", function () {
        idUser = $(this).parent().closest("tr").find('td:nth-child(2)').text();
        idProject = $(this).parent().closest("tr").find('td:first').text();
        var projectName = $(this).parent().closest("tr").find('td:nth-child(3)').text();
        var roleName = $(this).parent().closest("tr").find('td:nth-child(4)').text();
       // $("#label-delete").html(projectName);
        $('#addModal').addClass('show');

        //On click on modal button Delete
        $(document).on("click", "#idDelete", function () {
            $('#addModal').modal('hide');
            deleteProject(idProject, idUser);
        });

    });


  
    //Ajx delete project
    function deleteProject(projectId, idUser) {

        $.ajax({
            type: "DELETE",
            url: 'http://localhost:59443/api/DeleteUserRole',
            contentType: "application/json",
            dataType: "json",
            data: '{UserId: "' + idUser + '", id_project: "' + projectId + '" }',

        }).done(function (result) {

            console.log(result);
            $.notify({
                title: '<strong>Success!</strong><br />',
                message: 'Association deleted successfully.'
            }, {
                    type: 'success'
                });
            //$('#projectRole-table').DataTable().ajax.reload();
          

        }).fail(function (result) {
            $.notify({
                title: '<strong>Failded!</strong><br />',
                message: 'Whoops! Unable to delete this Association.'
            }, {
                    type: 'danger'
                });
        });

    }

</script>

<style>

    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_length .form-control {
        display: inline-block;
        width: auto;
    }

    .card-body .dataTables_wrapper .row .col-md-6 .dataTables_filter .form-control {
        display: inline-block;
        width: auto;
    }

    body {
        font-family: 'Varela Round', sans-serif;
    }

    .modal-confirm {
        color: #636363;
        width: 400px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

            .modal-confirm .modal-footer a {
                color: #999;
            }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

            .modal-confirm .icon-box i {
                color: #f15e5e;
                font-size: 46px;
                display: inline-block;
                margin-top: 13px;
            }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }

        .modal-confirm .btn-info {
            background: #c1c1c1;
        }

            .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                background: #a8a8a8;
            }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

            .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                background: #ee3535;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>





